<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airball.annie.mapper.content.SectionMapper">
    <select id="findOne" resultType="Section">
    	select * from an_section where id =#{id}
    </select>
    
    <select id="selectSectionVo" resultType="SectionVo">
    	SELECT _section.id `id`,
	       _section.pubdate `pubdate`,
	       _section.like_count `like_count`,
	       _section.message_count `message_count`,
	       _user_detail.nickname `pubname`,
	       _text_wrap.text `text`
		FROM t_section _section LEFT JOIN t_user _user ON _section.user_id = _user.id 
		LEFT JOIN t_user_detail _user_detail ON _section.user_id = _user_detail.user_id
		LEFT JOIN t_text_wrap _text_wrap ON _section.body_wrap_id = _text_wrap.id
    </select>
</mapper>